<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
        .fa-thumbs-up-ic i {
            cursor: pointer;
            transition: color 0.5s !important;
        }
        .fa-thumbs-up-ic :hover {
            color: #FFCD13 !important;
        }
    </style>
</head>
<body>
    
    <%- include('../partials/header') %>

    <div class="container">
        <div class="blog-decoration">
            <div class="blog-decorate-top-page-one"></div>
            <div class="blog-decorate-top-page-two"></div>
        </div>
        <div class="pages">
            <div class="row">
                <div class="col-12">
                    <div class="card border-light mb-3">
                        <img class="card-img-top" src="/images/<%=post.image%>" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><%=post.title%></h4>
                            <span class="mr-2 text-muted">Category: <%=post.category.name %></span><span class="text-muted mr-2"><i class="fa fa-eye mr-1" aria-hidden="true"></i><span id="views"><%=post.views %></span></span>
                            <div class="float-right">
                                <span class="text-muted fa-thumbs-up-ic"><i id="likes" class="fa fa-3x mr-1 fa-thumbs-up" aria-hidden="true"></i><span style="font-size: 25px;"><%=post.likes %></span></span>
                            </div>
                            <p class="card-text">
                                <%-post.text%>
                            </p>
                            <p class="card-text"><small class="text-muted"><%=post.uploaded.toString().slice(0, 24)%></small></p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="comments col-md-12" id="comments">
                        <!-- /commentForm -->
                        <% if (user) { %>
                            <div class="row pt-2 mb-3">
                                <div class="col-12">
                                    <form id="commentForm">
                                        <div class="form-group">
                                            <label>Leave your comment</label>
                                            <textarea name="comment" class="form-control" rows="3"></textarea>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button style="cursor:pointer;" class="btn btn-sm btn-primary">Comment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        <% } else { %>
                            <h4 class="text-muted"><a href="/sign-in">Sign-In</a> to leave the comments</h4>
                        <% } %>

                        <h3 class="mb-2">Comments</h3>
                        <div id="commentSection">

                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
    <script>

        (function() {
            let likes = parseInt('<%=post.likes %>');

            $('#likes').click(function () {
                $.ajax({
                    url: '/post/<%=post.id %>',
                    type: 'PUT',
                    data: {
                        doc: { likes: likes + 1 }
                    },
                    success: function(data) {
                        $('#likes').next().text(++likes);
                    }
                });    
            });
    
            $.ajax({
                url: '/post/<%=post.id %>',
                type: 'PUT',
                data: {
                    doc: { views: parseInt('<%=post.views %>') + 1 }
                },
                success: function(data) {
                    $('#views').text(parseInt('<%=post.views %>') + 1);
                }
            });
    
            $.ajax({
                url: '/comments/post/<%=post.id %>',
                type: 'GET',
                success: function(data) {
                    let comments = '';
    
                    data.forEach(comment => {
                        comments += '<div class="comment mb-2 row">' +
                                '<div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">' +
                                    '<a href=""><img class="mx-auto rounded-circle img-fluid" src="/images/' + comment.userId.image + '" alt="avatar"></a>'+ 
                                '</div>' +
                                '<div class="comment-content col-md-11 col-sm-10">' +
                                    '<h6 class="small comment-meta"><a href="#">' + comment.userId.fullName + '</a> ' + comment.date.toString().slice(0, 24) + '</h6>' +
                                    '<div class="comment-body">' +
                                        '<p>' + comment.text + '</p>' +
                                    '</div>' +
                                '</div>' +
                            '</div>';
                    });
                    $('#commentSection').prepend(comments);
                }
            });
    
            $('#commentForm').submit(function(event) {
                event.preventDefault();
                event.stopPropagation();
                let text = $('textarea[name=comment]').val();
                $.ajax({
                    url: '/comment',
                    type: 'POST',
                    data: {
                        comment: {
                            text: text,
                            postId: '<%=post.id %>'
                        }
                    },
                    success: function(data) {
                        $('#commentSection').prepend('<div class="comment mb-2 row">' +
                                                        '<div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">' +
                                                            '<a href=""><img class="mx-auto rounded-circle img-fluid" src="/images/' + data.avatar + '" alt="avatar"></a>'+ 
                                                        '</div>' +
                                                        '<div class="comment-content col-md-11 col-sm-10">' +
                                                            '<h6 class="small comment-meta"><a href="#">' + data.fullName + '</a> ' + new Date(data.date).toString().slice(0, 24) + '</h6>' +
                                                            '<div class="comment-body">' +
                                                                '<p>' + data.text + '</p>' +
                                                            '</div>' +
                                                        '</div>' +
                                                    '</div>');
                    }
                });
            });
        })();
    </script>
</body>
</html>