<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
    
    <%- include('../../partials/header') %>

    <div class="container">
        <div class="blog-decoration">
            <div class="blog-decorate-top-page-one"></div>
            <div class="blog-decorate-top-page-two"></div>
        </div>
        <div class="pages">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin">Profile</a>
                                </li> 
                                <li class="nav-item">
                                    <a class="nav-link active" href="/admin/categories">Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/posts">Posts</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">All Categories</h4>
                                            <form method="POST" action="/category">
                                                <div class="input-group mb-3">
                                                    <button style="cursor: pointer;" type="submit" class="btn btn-success input-group-addon">Add new</button>
                                                    <input name="name" type="text" class="form-control" placeholder="Category name">
                                                </div>
                                            </form>
                                            <div class="list-group" id="list-tab" role="tablist">
                                                <% for (let i = 0; i < categories.length; ++i) { %>
                                                    <a class="list-group-item list-group-item-action <% if (i === 0) { %>active<% } %>" id="<%=categories[i]._id %>-list" data-toggle="list" href="#<%=categories[i]._id %>" role="tab" aria-controls="home"><%=categories[i].name %></a>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="tab-content" id="nav-tabContent">
                                                <% for (let i = 0; i < categories.length; ++i) { %>
                                                    <div class="tab-pane fade show <% if (i === 0) { %>active<% } %>" id="<%=categories[i]._id %>" role="tabpanel" aria-labelledby="<%=categories[i]._id %>-list">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="row">
                                                                    <div class="col-12 col-sm-6">
                                                                        <form method="POST" action="/update/category/<%=categories[i]._id  %>">
                                                                            <div class="input-group">
                                                                                <button style="cursor: pointer;" type="submit" class="btn btn-info input-group-addon">Edit</button>
                                                                                <input name="name" type="text" value="<%=categories[i].name %>" class="form-control" placeholder="Edit Category name">
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <div class="col-12 col-sm-6">
                                                                        <form method="POST" action="/delete/category/<%=categories[i]._id  %>">
                                                                            <button style="cursor: pointer;" type="submit" class="btn btn-block btn-danger">Delete</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer') %>
</body>
</html>