<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href="/js/aehlke-tag-it-6ccd2de/css/jquery.tagit.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <%- include('../../partials/header') %>

    <div class="container">
        <div class="blog-decoration">
            <div class="blog-decorate-top-page-one"></div>
            <div class="blog-decorate-top-page-two"></div>
        </div>
        <div class="pages">
            <div class="row">
                <div class="col-12">
                    <div class="card border-light mb-3">
                        <div class="card-body">
                            <form id="updatePost" encType="multipart/form-data">
                                <div class="form-group">
                                    <label>Post Title</label>
                                    <input type="text" name="title" value="<%=post.title%>" class="form-control" placeholder="Post Title">
                                </div>
                                <div class="form-group">
                                    <label>Category</label>
                                    <select name="category" class="form-control">
                                        <% let selectedOption = ''; %>
                                        <% for(let i = 0; i < categories.length; ++i) { %>
                                            <% if (post.category.id === categories[i].id) { selectedOption = 'selected' } else { selectedOption = '' } %>
                                            <option <%=selectedOption%> value="<%=categories[i]._id %>"><%=categories[i].name %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Post text</label>
                                    <textarea name="text" class="form-control" id="editor"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Tags</label>
                                    <input type="text" value="<%=post.tags%>" name="tags" data-role="tagsinput" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-success">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer') %>
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.1/classic/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/aehlke-tag-it-6ccd2de/js/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $("input[name='tags']").tagit();
            
        
        ClassicEditor
            .create( document.querySelector( '#editor' ), {
                htmlEncodeOutput: true,
                entities: true,
                entities_greek: true,
                entities_latin: true
            } )
            .then( editor => {
                window.editor = editor;
                editor.setData('<%-post.text %>');
            } )
            .catch( err => {
                console.error( err.stack );
            } );
            //console.log(editor.getData());

            $('#updatePost').submit(function(event) {
                event.preventDefault();
                console.log('sd');
                let tagsInput = $("input[name='tags']");
                let tags = tagsInput.tagit("assignedTags");
                tagsInput.val(JSON.stringify(tags));
                
                let textInput = $("textarea[name='text']");
                let editorData = editor.getData();
                textInput.val(editorData);

                let title = $('input[name=title]').val();
                let category = $('select[name=category]').val();
                $.ajax({
                    url: '/post/<%=post.id %>',
                    type: 'PUT',
                    data: {
                        doc: {
                            title: title,
                            category: category,
                            text: textInput.val(),
                            tags: JSON.parse(tagsInput.val())
                        }
                    },
                    success: function() {
                        location.replace('/admin/posts');
                    }
                }); 
                return false;
            });

    </script>
    <script>    
    /* show file value after file select */
    $('.custom-file-input').on('change',function(){
        $(this).next('.form-control-file').addClass("selected").html($(this).val());
    });
    </script>
</body>
</html>